.jumbotron 
{
  background-image: url('../images/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin:0 auto;
}

#aboutme
{
  margin : 0 auto;
  text-align: center;
  background-color:#222123;
}

#Portfolio
{
  margin: 0 auto;
  background-color:#19191A;
  width: 100%;
  height: 850px;
  text-align:center;
  position:relative;
}

#Contact
{
  background-color:#101010;
  width: 100%;
  height: 100px;
  text-align:center;
  position:relative"
}

body 
{
  overflow-x: hidden;
}