.jumbotron 
{
  background-image: url('../images/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin:0 auto;
  height: 600px;
}

.TopBar
{
  margin: 0 auto;
  background-color:#19191A;
  border-radius:0;
  margin:0;
  border-radius: 0;
}

#aboutme
{
  data-aos: fade-up;
  margin : 0 auto;
  text-align: center;
  background-color:#222123;
}

#Contact
{
  background-color:#101010;
  width: 100%;
  width: 100%;
  text-align:center;
  position:relative"
}

body 
{
  overflow-x: hidden;
}


/* Блок для появления корусели */
.home-demo .item {
  background: #19191A;
  flex: 1 1 100px;
  padding: 10px;
}
.home-demo h2 {
  color: #19191A;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}
.home-slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 601px) {
  .home-demo .item {
    margin: 5px;
  }
}

/* .owl-prev{
  background-image: url("<i class='fa fa-chevron-left'></i>");
  background-size: cover;
  width: 100px;
  height: 100px;
}
.owl-next{
  background-image: url("<i class='fa fa-chevron-right'></i>");
  background-size: cover;
  width: 100px;
  height: 100px;
} */
